<mat-card style="max-width: 500px;">
  <mat-card-title>Pool Status</mat-card-title>
  <mat-card-content>
    <div *ngIf="pool">
      Enlisted Records: {{ pool.type === 'records' ? pool.entries.length : '-' }} <br>
      Enlisted Consultants: {{ pool.type === 'consultants' ? pool.entries.length : '-' }} <br>
      <br>
      <button (click)="onEnlistClick()" mat-raised-button color="primary">
        {{ pool.type === 'records' ? 'Take record' : 'Enlist' }}
      </button>
    </div>
  </mat-card-content>
</mat-card>

<mat-card style="max-width: 500px;">
  <mat-card-title style="margin-bottom: 20px;">Yield Record</mat-card-title>
  <mat-card-content>
    <dynamic-form [errors]="errors" [fields]="fields" (send)="onYieldRecord($event)"></dynamic-form>
  </mat-card-content>
</mat-card>