<main class="divide-y divide-gray-100">
    <section class="bg-white mx-auto max-w-7xl py-4 px-8">
        <a class="text-lg font-medium text-blue" routerLink="/">
            &#x21a9; Back
        </a>
    </section>
    <section class="bg-white mx-auto max-w-7xl py-12 px-8">
        <article class="prose prose-lg mx-auto" *ngIf="article">
            <em>{{ article.date|date:'MMM d, YYYY' }}</em>
            <h1>{{ article.title }}</h1>
            <p class="lead">{{ article.description }}</p>
            <div [innerHTML]="article.content">
            </div>
            <small class="text-right block pt-6" *ngIf="article.author">Author: {{ article.author }}</small>
        </article>
    </section>
</main>