<div class="max-w-2xl mx-auto bg-white shadow px-4 pt-4 pb-6">
    <h2 class="text-2xl font-medium mb-4">Register</h2>
    <div *ngIf="!success" class="">
        <dynamic-form [fields]="registerFields" (successful)="success = true" url="api/profiles/" button="Register"
            [errors]="errors">
        </dynamic-form>
    </div>
    <div *ngIf="success" class="prose">
        <p>Your account was created. 2 things need to happen before you can login:</p>
        <ol>
            <li>An admin from your LC needs to accept you as a member.</li>
            <li>You need to confirm your email. We sent you an email to do that.</li>
        </ol>
    </div>
</div>