<mat-toolbar class="bg-lorgablue text-white" style="background-color: rgba(0, 60, 77, 1); color: white;">
    <div class="flex space-x-4">
        <button mat-icon-button (click)="drawer.toggle()" *ngIf="authenticated">
            <mat-icon>menu</mat-icon>
        </button>
        <a routerLink='/' class="flex space-x-2 items-center">
            <img src="/assets/img/rlc_intranet_logo.png" alt="Law&Orga Logo" class="w-10 h-10" />
            <h1>Law&Orga</h1>
        </a>
    </div>
</mat-toolbar>

<mat-drawer-container class="absolute inset-0 top-14 md:top-16">
    <mat-drawer #drawer [opened]="authenticated" mode="side" fixedTopGap="64" [hidden]="!authenticated" class="w-64">
        <mat-nav-list class="p-0" style="padding: 0">
            <app-sidebar></app-sidebar>
        </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content class="p-5">
        <router-outlet></router-outlet>
    </mat-drawer-content>

</mat-drawer-container>