@import "~src/styles/basic.scss";

.collab-document-permissions__button-add {
    background: $c-primary-l;
    color: $c-primary-variant;
}

.collab-document-permissions__button-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 32px;
}

.collab-document-permissions__table {
    width: 100%;
}