<div>
    <div class="">
        <form class="" (ngSubmit)="onSubmit()" [formGroup]="form">
            <div *ngIf="errors && errors['non_field_errors']">
                <p class="mb-10 text-sm text-red-600">{{ errors['non_field_errors'] }}</p>
            </div>
            <div>
                <div *ngFor="let field of fields">
                    <dynamic-input [name]="field.name" [tag]="field.tag" [label]="field.label" [type]="field.type"
                        [required]="field.required" [control]="controls[field.name]" [errors]="errors"
                        [options]="field.options">
                    </dynamic-input>
                </div>
            </div>
            <button class="save-button" type="submit" mat-raised-button color="primary" [disabled]="processing">
                <div>
                    {{ button }}
                </div>
                <div class="pl-2" *ngIf="processing">
                    <svg class="animate-spin h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 24 24">
                        <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4">
                        </circle>
                        <path class="opacity-75" fill="currentColor"
                            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z">
                        </path>
                    </svg>
                </div>
            </button>

        </form>
    </div>
    <div *ngIf="errors" style="margin-top: 8px;">{{ errors | json }}</div>
</div>