<h1 mat-dialog-title>Add Permission</h1>
<div mat-dialog-content>
  <div class="flex flex-col">
    <mat-form-field>
      <mat-label>Permission</mat-label>
      <mat-select [(ngModel)]="selectedPermission" name="permission">
        <mat-option *ngFor="let permission of permissions" [value]="permission.id">
          {{permission.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Group</mat-label>
      <mat-select [(ngModel)]="selectedGroup" name="group">
        <mat-option *ngFor="let group of groups" [value]="group.id">
          {{group.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-flat-button color="primary"
    [mat-dialog-close]="{ permission: selectedPermission, group: selectedGroup }">Add</button>
</div>