
<h1 mat-dialog-title>{{title}}</h1>
<div mat-dialog-content>
    <p *ngIf="descriptionText">{{descriptionText}}</p>
    <mat-form-field class="edit-text__flex-items-big">
        <textarea appAutoExpand *ngIf="!shortText" matInput placeholder="{{descriptionLabel}}" [(ngModel)]="text"></textarea>
        <input *ngIf="shortText" matInput placeholder="{{descriptionLabel}}" [(ngModel)]="text">
    </mat-form-field>
</div>

<div mat-dialog-actions>
    <button mat-flat-button (click)="onClose()" class="edit-text__buttons">{{cancelLabel}}</button>
    <button mat-flat-button (click)="onSave()" color="primary" class="edit-text__buttons">{{saveLabel}}</button>
</div>
