<div class="drawer-header">
    <span>{{ user ? user.name : '' }}</span>
    <span>{{ user ? user.email : '' }}</span>
</div>
<mat-divider></mat-divider>
<div class="sidebar__nav-holder">
    <div>
        <ng-material-multilevel-menu [items]="sidebarItems" (selectedItem)="selectedItem($event)"
            [configuration]="config">
        </ng-material-multilevel-menu>
        <mat-list disableRipple="True" class="sidebar__list">
            <mat-list-item class="sidebar__list_item" routerLink="notifications">
                <mat-icon mat-list-icon [matBadge]="number_of_notifications"
                    [matBadgeColor]="number_of_notifications === '0' ? 'primary' : 'warn'">notifications</mat-icon>
                <div>Notifications</div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item class="sidebar__list_item" (click)="logout()">
                <mat-icon mat-list-icon>power_settings_new</mat-icon>
                <div>Logout</div>
            </mat-list-item>
            <mat-divider></mat-divider>
        </mat-list>
    </div>

    <div class="px-4">
        <ul class="flex flex-col space-y-0">
            <li class="is_clickable sidebar__other-links__items" routerLink="/legal_notice">
                Imprint
            </li>
            <li class="is_clickable sidebar__other-links__items">
                <a href="http://rlc-deutschland.de/datenschutz/">Privacy</a>
            </li>
            <!-- <li>
                Automatic logout in: {{ time }}min
            </li> -->
        </ul>
    </div>
</div>